#form {
  font-family: 'Aller', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  width: 50%;
}

#app-form {
  display: flex;
  flex-direction: column;
  margin-left:auto;
  margin-right: auto;
  text-align: left;
}

#app-form label {
  margin-bottom: 1rem;
  color: #0059de;
  font-weight: bold;
}

#app-form input, #app-form textarea {
  margin-bottom: 3rem;
  height: 5rem;
  width: 50rem;
  box-shadow: 2px 2px 5px rgba(195, 207, 223, 0.85);
  border-style: none;
  border-radius: 2px;
  border: 1px solid white;
}

#app-form .description {
  height: 17rem;
}

.meta-data-form-particle {
  border-bottom: .2rem solid #f7f9fa;
  display: flex;
  margin-bottom: 4rem;
  justify-content: space-between;
  margin-right: 2rem;
}

.meta-data-form-particle h2 {
  font-size: 1.6rem;
  color: #c4c5c5;
  text-transform: uppercase;
  font-weight: bold;
  align-self: center;
}

.meta-data-form-particle-input {
  display: flex;
  flex-direction: column;
}

#app-form button {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 2px 2px 5px rgba(195, 207, 223, 0.85);
  background-color: #0059de;
  color: white;
  border-style: none;
  height: 5rem;
  width: 15rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 2px;
  border: 1px solid #0059de;
}

.form-title {
  padding-bottom: 5rem;
}

#navigation {
  margin-bottom: 10rem;
  border-bottom: .2rem solid #f7f9fa;
  font-weight: bold;
}


.nav-list {
  display: flex;
  justify-content: space-around;
}

.actif {
  border-bottom: .2rem solid #0059de;
  padding-bottom: 3rem;
  padding-right: 3rem;
  padding-left: 3rem;
}

.meta-data-content {
  display: flex;
  flex-direction: column;
}

.search-content {
  display: flex;
  flex-direction: column;
}

.personalize-content-labels {
  display: flex;
  justify-content: space-around;
}

.personalize-content-labels label {
  width: 23%;
  display: block;
  box-shadow: 2px 2px 5px rgba(195, 207, 223, 0.85);
  border-style: none;
  border-radius: 2px;
  border: 1px solid white;
  text-align: center;
  padding: 3rem 0 3rem;
}

#app-form .hiddenInput {
  display: none;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-right: 3rem;
}

#app-form .back-button {
  color: #c4c5c5;
  background-color: transparent;
  text-align: left;
  border-style: none;
  box-shadow: none;
  cursor: pointer;
}

.label-icon {
  width: 50px;
  height: 50px;
  margin-top: 2rem;
}