#app-form {
  width: 70%;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 12px;
}

#app-form h2 {
  color: #838DA5;
  font-size: 18px;
}

#app-form .buttons {
  text-align: right;
  margin-top: 1rem;
}

#app-form .buttons .save-to-library {
  background-color: transparent;
  border-style: none;
  color: #838DA5;
  background-color: #F3F6F8;
  padding: 1.5rem;
  border: 1.5px solid #838DA5;
  border-radius: 10px;
  font-size: 12px;
}

#app-form .buttons .save-and-award, #app-form .buttons .next-button{
  background-color: #41b7fe;
  border-style: none;
  padding: 1.5rem;
  color: white;
  border: 1px solid #41b7fe;
  border-radius: 10px;
  font-size: 14px;
}


/* SEARCH CSS*/

#search {
  margin-left: auto;
  margin-right: auto;
  width: 620px;
  margin-top: 4rem;
}

#search .search-input {
  height: 6rem;
  width: 48rem;
  border: 2px solid #dbdee4;
  border-radius: 10px;
  padding-left: 1.5rem;
}

#search .search-button {
  background-color: #41b7fe;
  color: #ffffff;
  text-transform: uppercase;
  border-style: none;
  font-weight: bold;
  width: 13.5rem;
  height: 6rem;
  border: 1px solid #41b7fe;
  border-radius: 10px;
}

#search .seach-results {
  padding-top: 4rem;
}

#search .seach-results .search-result {
  padding: .3rem 0;
  font-size: 1.2rem;
}

#search .seach-results .search-result a {
  text-decoration: none;
  text-transform: capitalize;
  color: #a7aebf;
}

#search .seach-results .search-result a:hover {
  color: #41b7fe;
}


/* COMPANY INPUT + RECEIVER INPUT*/

#details-sender, #details-receiver {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 5%;
}

#details-sender input, #details-receiver input {
  height: 6rem;
  border: 1px solid #dbdee4;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

#details-receiver textarea {
  border: 1px solid #dbdee4;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  padding-top: 1rem;
}

#details-sender label, #details-receiver label {
  color: #454B5A;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

/* CUSTOMIZATION */

#personalize {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 5%;
}

#personalize label {
  color: #454B5A;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

#personalize .logo-input {
  height: 165px;
  background-color: #F8FCFF;
  border: 1.5px solid #ABB3C4;
  border-radius: 10px;
}

#personalize .logo-input #image-input {
  padding: 1rem;
}

/* OVERVIEW */

#overview {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  color: #838DA5;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

#overview .sender-info, #overview .receiver-info {
  width: 50%;
  border-bottom: 1px solid #ABB3C4;
  padding-bottom: 1rem;
}

#overview .sender-info {
  border-right: 1px solid #ABB3C4;
}

#overview .receiver-info {
  padding-left: 1rem;
}

#overview .overview-inner {
  background-color: #ffffff;
  padding: 2rem;
  border: 1px solid #ABB3C4;
  border-radius: 10px;
  margin-top: 2rem;
}

#overview .description {
  padding-top: 2rem;
}

#overview h3 {
  text-transform: uppercase;
  color: #42B5FE;
  padding-bottom: 1rem;
}
