#app-badge-container {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: right;
  width: 30%;
  background-color: rgb(143, 190, 100);
}

#app-badge-container h1 {
  color: #6FA53D;
  padding-right: 1rem;
  font-weight: normal;
}

#svgFile {
  width: 46rem;
  height: 46rem;
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
  margin-left: -5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
