#app {
  font-family: 'Aller', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  font-size: 1.5rem;
}

h1, h2 {
  font-size: 5rem;
  font-family: 'Aller';
  font-weight: lighter;
}

.content-container {
  display: flex;
  width: 100%;
}
