/*GENREAL CSS*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
body{
    width: 100%;
    background: url(../assets/svg/background.svg);
    background-size: 100%;
    font-family: 'Open Sans', 'sans-serif';
}

.hide {
  display:none;
}

.row{
    display: flex;
}
.column{
    display: flex;
    flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

/* GENERAL TEXT CSS*/

h1{
    font-size: 30px;
    color: #fff;
    font-weight: 200;
    padding-top: 7px;
}


/* GENERAL APP CSS*/
#container{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

/* APP HEADER CSS*/

#container header{
    justify-content: center;
    margin-top: 30px;
}

#container header .logo{
    margin-right: auto;
    margin-left: auto;
}

#container header .up-left-info{
    margin-left: 30px;
}

#container header .up-left-info a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.05rem;
    font-size: 12px;
}

#container header .up-left-info .fa-chevron-left{
    padding-right: 6px;
}

/* APP MAIN CSS*/

#container main .content-container{
    margin: 12px auto;
    position:absolute;
    width: 80%;
    background-color: #F9F9F9;
}
